<a href="https://colab.research.google.com/github/mathewgit/pythonlesson/blob/main/01_Function_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON FUNCTION

In [1]:
a = 10
b = 20
a+b

30

REASUABLITY OF CODE

def -> Definition
e.g.
def test(x,y):
     pass

In [17]:
def test(x,y):
     pass

In [19]:
test

PRINT FUNCTION VS RETURN

In [5]:
def test(x,y):
    print(x+y) # Body of the function

In [6]:
# Print function in the above will return a NoneType, Don't use Print to add , If you want to add use "Return"
type(test(23,45))

68

NoneType

In [4]:
b = test(34,56)

90

In [ ]:
type(b)

NoneType

In [ ]:
def test1(b,m):
    return b * m

In [ ]:
a = test1(5,89)

In [ ]:
type(a)

int

ARGUMENTS

In [ ]:
def test2(t,n,m):
    return t + n
    return n+m

In [ ]:
test2(4,5,6)

9

In [ ]:
test2(2,3,0)

5

RETURN MULTIPLE VALUES

In [21]:
def test3(n, m ):
    return n*10 , m*40 ,m+n

In [22]:
test3(2,7)

(20, 280, 9)

**HOLDING DATA IN VARIABLES**

In [23]:
c,x,v = test3(2,7)

In [ ]:
c

20

In [ ]:
x

280

In [ ]:
v

9

**USE OF UNDERSCORE**

In [ ]:
c , x , _ = test3(2,7)

In [ ]:
c

20

In [ ]:
x

280

In [ ]:
_

9

In [ ]:
_,_ , m= test3(2,7)

In [ ]:
c

20

In [ ]:
m

9

In [ ]:
_

280

In [ ]:
def test():
    print("this is my first funcation ")

In [ ]:
m = test()

this is my first funcation

In [ ]:
m + "fsdfsfsd"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
def test7():
    return "this is my first class "

In [ ]:
n = test7()

In [ ]:
n + "fsfsfsd"

'this is my first class fsfsfsd'

In [ ]:
def test8(n):
    return n * 2

In [ ]:
test8([3,4,5,6,7])

[3, 4, 5, 6, 7, 3, 4, 5, 6, 7]

In [ ]:
test8(67)

134

In [ ]:
def test9(n):
    return n,n*2

In [ ]:
b = test9([4,5,6,6,7])

In [ ]:
b

([4, 5, 6, 6, 7], [4, 5, 6, 6, 7, 4, 5, 6, 6, 7])

In [ ]:
b[0]

[4, 5, 6, 6, 7]

In [ ]:
b[1]

[4, 5, 6, 6, 7, 4, 5, 6, 6, 7]

In [ ]:
def test10(n , m = 90 ):
    return n + m

In [ ]:
test10(60, 30)

90

In [ ]:
print()

In [ ]:
def boolx(x = True , y = False):
    return x + y

In [ ]:
boolx()

1

In [ ]:
boolx(False)

0

In [ ]:
boolx(False , 8)

8

In [ ]:
True + False

1

In [ ]:
def travel( bike = True , car = False ) : 
    plan_travel = bike or car 
    return bike , car , plan_travel

In [ ]:
travel()

(True, False, True)

In [ ]:
travel(car  = True )

(True, True, True)

In [ ]:
travel(_, True)

(280, True, 280)

In [ ]:
_

280

In [ ]:
def test11(*args ):
    return args

In [ ]:
test11("sudhanshu" , "kumar ", 34,[34,4,4,5,454,54])

('sudhanshu', 'kumar ', 34, [34, 4, 4, 5, 454, 54])

In [ ]:
def test12(a , b , c ):
    return a + b + c

In [ ]:
test12([1,2,3,4] , [4,5,6,7] , [4,5,6,78])

[1, 2, 3, 4, 4, 5, 6, 7, 4, 5, 6, 78]

In [ ]:
def test13(*args):
    l = []
    for i in args:
        l = l + i
    return l

In [ ]:
test13([3,4,5,6] , [3,4,5,6,7] , [3,4,5,6])

[3, 4, 5, 6, 3, 4, 5, 6, 7, 3, 4, 5, 6]

In [ ]:
test13([4,5,6,6],[4,5,6,7])

[4, 5, 6, 6, 4, 5, 6, 7]

In [ ]:
def test14(*args):
    return [i for i in args]

In [ ]:
test14([4,5,6,6],[4,5,6,7])

[[4, 5, 6, 6], [4, 5, 6, 7]]

In [ ]:
test13("fdsfdsf" , 234,[3,4,5,6,7,8] , [5,7,7,8,9])

TypeError: can only concatenate list (not "str") to list

In [ ]:
def test15(*args):
    l = []
    for i in args:
        if type(i) == list:
            
            l = l + i
    return l

In [ ]:
test15("fdsfdsf" , 234,[3,4,5,6,7,8] , [5,7,7,8,9])

[3, 4, 5, 6, 7, 8, 5, 7, 7, 8, 9]

In [ ]:
def test16(**kwargs):
    return kwargs

In [ ]:
test16(4,56,56)

TypeError: test16() takes 0 positional arguments but 3 were given

In [ ]:
test16(a = 8 , b = True , c = [4,5,6,6,"kumar"] , d = "sudh")

{'a': 8, 'b': True, 'c': [4, 5, 6, 6, 'kumar'], 'd': 'sudh'}

In [ ]:
def test17(*args):
    return args

In [ ]:
test17(4,5,6,7, "sudh" , [4,5,6,7,8])

(4, 5, 6, 7, 'sudh', [4, 5, 6, 7, 8])

In [ ]:
#1
def fun1(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    for i in args:
        if type(i)==int:
            a.append(i)
        if type(i)==float:
            b.append(i)
        if type(i)==str:
            c.append(i)
        if type(i)==tuple:
            d.append(i)
        if type(i)==list:
            e.append(i)
        if type(i)==dict:
            f.append(i)
        if type(i)==bool:
            g.append(i)
    return a,b,c,d,e,f,g

#2 
def fun2(*args,**kwargs):
    l=[i for i in args]
    d=[i for i in kwargs]
    return l,d

In [ ]:
#1
def fun1(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    for i in args:
        if type(i)==int:
            a.append(i)
        if type(i)==float:
            b.append(i)
        if type(i)==str:
            c.append(i)
        if type(i)==tuple:
            d.append(i)
        if type(i)==list:
            e.append(i)
        if type(i)==dict:
            f.append(i)
        if type(i)==bool:
            g.append(i)
    return a,b,c,d,e,f,g

In [ ]:
fun1(3,4,5,6,6,7.45,True ,False , [4,5,6,7,8,9] , [4,5,6,7,8,90] , 4+5j)

([3, 4, 5, 6, 6],
 [7.45],
 [],
 [],
 [[4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 90]],
 [],
 [True, False])

In [ ]:
def fun2(*args,**kwargs):
    l=[i for i in args if type(i) == list ]
    d=[i[1] for i in kwargs.items() if type(i[1]) == list ]
    return l,d

In [ ]:
fun2([4,5,6,7,8] , [5,6,7,8,9,0] , 5,5,6,7, a = 5 , b = "fsdfds" , m = [4,5,6,7])

([[4, 5, 6, 7, 8], [5, 6, 7, 8, 9, 0]], [[4, 5, 6, 7]])

In [ ]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1])== list :
            if "sudh" in i[1] :
                print("i am able to find your name in input data ")
                print(i[1])
    return kwargs

In [ ]:
test18(b =6 , c = [4,5,6,7] , d = ["sudh" , "kumar " , 5.67], n = 6 + 7j)

i am able to find your name in input data
['sudh', 'kumar ', 5.67]

{'b': 6, 'c': [4, 5, 6, 7], 'd': ['sudh', 'kumar ', 5.67], 'n': (6+7j)}

In [ ]:
d ={'b': 6, 'c': [4, 5, 6, 7], 'd': ['sudh', 'kumar ', 5.67], 'n': (6+7j)}

In [ ]:
d.values()

dict_values([6, [4, 5, 6, 7], ['sudh', 'kumar ', 5.67], (6+7j)])

In [ ]:
def func1(*args):
  dt = {}
  for i in args:
    if type(i) in dt:
      dt[type(i)].append(i)
    else:
      dt[type(i)] = [i]
  return dt
    
func1(1,2,3,[5,6,7],'hi','io', 6+7j , 6+4j)

{int: [1, 2, 3],
 list: [[5, 6, 7]],
 str: ['hi', 'io'],
 complex: [(6+7j), (6+4j)]}